/*第一屏*/
.screen-1_heading,.screen-1_phone，.screen-1_shadow{
	transition: all 1s; 
}
.screen-1_heading_animate_init，.screen-1_shadow_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-1_heading_animate_done，
.screen-1_phone_animate_done，
.screen-1_shadow_animate_done{
	opacity: 1;
	transform: translate(0,0);
}

.screen-1_phone_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}

/*第二屏*/
.screen-2_subheading,
.screen-2_phone,
.screen-2_heading{
	transition: all 1s;
}
.screen-2_point{
	transition: all .5s 1s;
}
.screen-2_point_done{
	opacity: 1;
	transform: translate(0,0);
}
.screen-2_heading_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}
.screen-2_subheading_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-2_phone_animate_init{
	opacity: 0;
	transform: translate(0,100%);
}
.screen-2_subheading_animate_done,
.screen-2_phone_animate_done
.screen-2_heading_animate_done,{
	opacity: 1;
	transform: translate(0,0);
}
.screen-2_point_i_1_aniamate_init{
	opacity: 0;
	transform: translate(-100%,0);
}
.screen-2_point_i_2_aniamate_init,
.screen-2_point_i_3_aniamate_init{
	opacity: 0;
	transform: translate(100%,0);
}
/*第三屏*/
.screen-3_features,
.screen-3_subheading,
.screen-3_phone,
.screen-3_heading{
	transition: all 1s;
}
.screen-3_subheading_animate_done,
.screen-3_phone_animate_done
.screen-3_heading_animate_done,{
	opacity: 1;
	transform: translate(0,0);
}
.screen-3_heading_animate_init{
	opacity: 0;
	transform: translate(0,-100% );
}
.screen-3_subheading_animate_init,
.screen-3_phone_animate_init{
	opacity: 0;
	transform: translate(0,100% );
}
.screen-3_features_animate_init{
	opacity: 0;
	transform: scale(.5);
}
.screen-3_features_animate_done{
    transform: scale(1);
    opacity: 1;
}
.screen-3_features_item{
	transition:all .5s;
	cursor: pointer;
}
.screen-3_features_item:hover{
	transform: scale(1.1);
	border-color: #fff;
}
/*第四屏*/
.screen-4_subheading,
.screen-4_heading{
	transition: all 1s;
}
.screen-4_heading_animate_init{
	opacity: 0;
	transform: translate(0,-100% );
}
.screen-4_subheading_animate_init{
	opacity: 0;
	transform: translate(0,100% );
}
.screen-4_type_item_i_1,
{
  transition: all 1s .5s; 
} 
.screen-4_type_item_i_2{
	transition: all 1s 1s;
}
.screen-4_type_item_i_3{
	transition: all 1s 1.5s;
}
.screen-4_type_item_i_4{
	transition: all 1s 2s;
}

.screen-4_type_item_i_1_animate_init,
.screen-4_type_item_i_2_animate_init,
.screen-4_type_item_i_3_animate_init,
.screen-4_type_item_i_4_animate_init{
	opacity: 0;
}
.screen-4_type_item_i_1_animate_done,
.screen-4_type_item_i_2_animate_done,
.screen-4_type_item_i_3_animate_done,
.screen-4_type_item_i_4_animate_done{
	opacity: 1;
}
/*第五屏*/
.screen-5_subheading,
.screen-5_bg,
.screen-5_heading{
	transition: all 1s;
}
.screen-5_heading_animate_init{
	opacity: 0;
	transform: translate(0,-100% );
 }
.screen-5_subheading_animate_init,
.screen-5_bg_animate_init{
	opacity: 0;
	transform: translate(0,100% );
}